<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Getting Started: Spring4Shell App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <article id="index">
        <h1>Welcome to Spring4Shell POC</h1>
        <aside>
            <nav>
                <ul>
                    <li><a th:href="@{/kudos}">Kudos App</a></li>
                    <li><a href="/manager">Tomcat UI</a></li>
                </ul>
            </nav>
        </aside>
    </article>
</body>

</html>